
.navbar {

  width: 100%;

  background-color: #b3b3b3;

  overflow:auto;

}

.navbar a {

  float: left;

  padding: 23px;

  color: white;

  text-decoration: none;

  font-size: 20px;

  width: 15%;

  text-align: center;

}

.navbar a:hover {

  background-color: black;

}

.navbar a.active {

  background-color: #53c653;

}

.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  max-width: 400px;

  margin: auto;

  text-align: center;

  background-color: #D1D0CE;

  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);

  border-radius: 20px;

  border: 2px solid steelblue;

}
.head {

  color: blue;

  text-decoration: underline;

  text-shadow: 50px;
}
.info {

  max-width: 450px;

  background: #262626;

  padding: 25px;

  margin-top: 100px;

  border-radius: 5px;

  color: #b3b3b3;

}
.img {

  margin-right: :100%;

  width: 70px;

}
