.navbar {

  width: 100%;

  background-color: #b3b3b3;

  overflow: auto;

}

.navbar a {

  float: left;

  padding: 10px;

  color: white;

  text-decoration: none;

  font-size: 17px;

  width: 18%;

  text-align: center;

}

.navbar a:hover {

  background-color: black;

}

.navbar a.active {

  background-color: #53c653;

}

.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  max-width: 400px;

  margin: auto;

  text-align: center;

  background-color: #D1D0CE;

}

.title {

  color: black;

  font-size: 23px;

  text-decoration: underline;

}

.ref a:link {

  color: blue;

  text-decoration: underline;

}

.quot a:link {

  color: blue;

  text-decoration: underline;

}

.info {

  max-width: 450px;

  background: #262626;

  padding: 30px;

  margin-top: 100px;

  border-radius: 5px;

  color: #b3b3b3;

}

a {

  text-decoration: none;

  font-size: 22px;

  color: black;

}

button:hover, a:hover {

  opacity: 0.7;

}

.text-block {

    max-width: 450px;

  	background: white;

  	padding: 15px;

    margin-top: 20px;

    margin-right: 10px;

    margin-left: 10px;

  	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);

  	border-radius: 10px;

  	border: 2px solid steelblue;

}
